AnalyticsDashboard/
Base/
CampaignDesigner/
CaseService/
ContentBuilder/
CoreForecast/
Custom/
Deduplication/
DesignerTools/
Exchange/
HomePage/
IntegrationV2/
MarketingCampaign/
NUI/
OmnichannelMessaging/
OpenIdAuth/
PivotTable/
RelationshipDesigner/
ServiceDesigner/
ServiceModel/
SspWorkplace/
Tracking/
UIv2/
Workplace/
cliogate/
placeholder.txt

*.*-*.json
!*.ru-RU.json
!*.en-US.json

*.*-*.xml
!*.ru-RU.xml
!*.en-US.xml